<template>
  <div v-for="(item, index) in items" :key="index" class="common-item" :class="'common-item-' + (index + 1)"
    contenteditable="true">
    <span class="common-index" :class="'common-index-' + (index + 1)">{{ getIndex(index) }}</span>
    <span class="common-text">{{ item }}</span>
  </div>
</template>

<script setup>
import { ref } from 'vue'
const getIndex = (index) => {
  return index >= 9 ? ++index : '0' + ++index
}
const items = ref([
  '上海交通大学医学院附属新华医院',
  '复旦大学附属华山医院',
  '上海交通大学医学院附属瑞金医院',
  '上海市第一人民医院',
  '上海交通大学医学院附属第九人民医院',
  '上海长海医院',
  '上海市第六人民医院',
  '上海交通大学医学院附属第九人民医院',
  '上海中山医院',
  '上海中医药大学附属龙华医院'
])
</script>


<style scoped lang="scss">
.common-item {
  width: 300px;
  height: 40px;
  margin: 15px auto;
  border-radius: 25px;
  line-height: 40px;
  text-align: left;
  padding-left: 5px;
  background-color: lightpink;
  color: #fff;
  font-weight: 600;
  font-family: cursive;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0;

  .common-index {
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
  }

  .common-text {
    margin-left: 5px;
    font-size: 20px;
    vertical-align: -14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: calc(100% - 35px);
  }

  .common-index-1 {
    color: #FF0000;
  }

  .common-index-2 {
    color: #FF4500;
  }

  .common-index-3 {
    color: #9C9900;
  }

  .common-index-4 {
    color: #00AE72;
  }

  .common-index-5 {
    color: #00A6AD;
  }

  .common-index-6 {
    color: #7388C1;
  }

  .common-index-7 {
    color: #778899;
  }

  .common-index-8 {
    color: #778899;
  }

  .common-index-9 {
    color: #778899;
  }

  .common-index-10 {
    color: #778899;
  }
}

.common-item-1 {
  background: linear-gradient(to right, #FF0000, #EE7C6B);
}

.common-item-2 {
  background: linear-gradient(to right, #FF4500, #FFA500);
}

.common-item-3 {
  background: linear-gradient(to right, #9C9900, #BDB76B);
}

.common-item-4 {
  background: linear-gradient(to right, #00AE72, #9ACD32);
}

.common-item-5 {
  background: linear-gradient(to right, #00A6AD, #40E0D0);
}

.common-item-6 {
  background: linear-gradient(to right, #7388C1, #00BFFF);
}

.common-item-7 {
  background: linear-gradient(to right, #778899, #B0C4DE);
}

.common-item-8 {
  background: linear-gradient(to right, #778899, #B0C4DE);
}

.common-item-9 {
  background: linear-gradient(to right, #778899, #B0C4DE);
}

.common-item-10 {
  background: linear-gradient(to right, #778899, #B0C4DE);
}
</style>
